body {
    font-family: Roboto;
    color: #434455;
    font-size: 16px;
    background-color: #E5E5E5;
}

/*styles of links and buttons on focus and hover*/
button {
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
}

button:hover,
button:focus {
    background: #404BBF;
}

a {
    color: #2E2F42;
}

.header-adress {
    font-size: 16px;
    color: #434455;
}

a:hover,
:focus {
    color: #404BBF;
}

/*backgraund-color on sections*/
.main-section-bus {
    background-color: #2E2F42;
}

.main-section-team {
    background-color: #F4F4FD;
}

.footer {
    background-color: #2E2F42;
}


/*text size, color*/
.head-link {
    color: #2E2F42;
    font-family: 'Raleway';
    font-size: 18px;
}

.head-link span {
    color: #4D5AE5;
    font-family: 'Raleway';
    font-size: 18px;
}

.footer-link {
    color: #F4F4FD;
    font-family: 'Raleway';
    font-size: 18px;
}

.footer-link span {
    color: #4D5AE5;
    font-family: 'Raleway';
    font-size: 18px;
}


.main-header {
    font-size: 56px;
    color: #FFFF;
}

h3 {
    font-size: 20px;
    color: #2E2F42;
}

h2 {
    font-size: 36px;
    color: #2E2F42;
}

.fotter-paragraph {
    font-size: 16px;
    color: #F4F4FD;
}